:root {   /*Selector 1*/
    --primary-color-dark: #161a34;
    --primary-color-light : #fcd0b3;
    --primary-transparent-dark-bg :  rgba(0, 0, 0, 0.25);
    --primary-transparent-light-bg : rgb(252 208 179 / 65%);
    --primary-shadow : 0px 10px 15px 10px rgb(0 0 0 / 15%);
}

* {   /*Selector 2*/
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

a {   /*Selector 3*/
    text-decoration: none;
    color: var(--primary-color-light);
}

a:active { /*Selector 4*/
    text-decoration: none;
}

a.exclude { /*Selector 5*/
    color: var(--primary-color-dark);
    text-decoration: underline;
}

hr {
    border: 1px solid var(--primary-transparent-dark-bg);
}

html, body {  /*Selector 6*/
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    background-image: url("https://arifian853.github.io/perancangan-web-2022/1.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

::-webkit-scrollbar { 
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: var(--primary-color-dark); 
  }
   
::-webkit-scrollbar-thumb {
    background: var(--primary-color-light); 
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background:#77533b; 
}

nav {
    color: var(--primary-color-light);
    border-bottom: 1px solid var(--primary-color-light);
    border-top: 1px solid var(--primary-color-light);
    -webkit-backdrop-filter: blur(10px);  
    backdrop-filter: blur(10px); 
}

.nav-container {  /*Selector 7*/
    display: flex;
    justify-content:start;
    text-align: center;
    margin: 15px 15px 15px 50px;
}

#nav-brand { /*Selector 8*/
    background-color: var(--primary-color-light);
    color: var(--primary-color-dark);
    font-weight: 700;
}

#nav-brand:hover {
    transition: 0.2s;
    transform: scale(1.06);
}

.nav-item {
    margin: 0px 15px 0px 15px;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
}

.nav-item:hover {  /*Selector 9*/
    background-color: var(--primary-color-light);
    color: var(--primary-color-dark);
    cursor: pointer;
    transition: 0.4s;
    border-radius: 5px;
}


.main-content {
    background-color: var(--primary-transparent-light-bg);
    color: var(--primary-color-dark);
    margin: 160px 75px 1px 75px;
    padding : 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: var(--primary-shadow);
}

.main-content2 {
    margin: 20px 75px 45px 75px;
    background-color: var(--primary-transparent-light-bg);
    color: var(--primary-color-dark);
    padding : 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: var(--primary-shadow);
}

.img-profile {
    width: 120px;
    height: auto;
    border: 2px solid var(--primary-transparent-light-bg);
    border-radius: 50%;
    margin-top: -85px;
}

.occupation {
    display: flex;
    justify-content:center;
    text-align: center;
}

.occupation .txt {  /*Selector 10*/
    margin: 5px;
}

.txt::after  {  /*Selector 11*/
    content: " |";
}

.bio {
    padding: 1px 110px 1px 110px;
}

.hobi-container {
    display: flex;
    align-items: center;
}

.hobi {
    background-color: var(--primary-transparent-light-bg);
    box-shadow: var(--primary-shadow);
    border-radius: 12px;
    padding: 10px;
    margin: 15px auto;
    width: 200px;
}

.hobi:hover {
    cursor: pointer;
    background-color: var(--primary-color-dark);
    color: var(--primary-color-light);
    transition: 0.4s;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content:center;
}


.email-btn {
    padding: 12px;
    margin: 12px auto;
    background-color: var(--primary-transparent-light-bg);
    color: var(--primary-color-dark);
    border-radius: 12px;
    width: 200px;
    box-shadow: var(--primary-shadow);
}

.email-btn:hover{
    background-color: var(--primary-color-dark);
    color: var(--primary-color-light);
    transition: 0.4s;
}

.bi-facebook, .bi-instagram, .bi-twitter, .bi-linkedin, .bi-github {
    margin: 10px;
}

.bi {
    width: 35px;
    height: auto;
}

.bi:hover {
    filter: invert();
    transition: 0.3s;
}



/*RESPONSIVE SECTION*/

@media screen and (max-width: 768px) {
    body, html {
        scroll-behavior: smooth;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .nav-container {
        display:flex;
        justify-content:space-between;
        text-align: center;
        margin: 15px;
    }

    .nav-item {
        margin: 0px 3px 0px 3px;
        list-style: none;
        padding: 10px;
        border-radius: 5px;
    }
    .occupation {
        display: block;
        text-align: center;
        align-items: center;
    }
    .txt::after  { 
        content: " ";
    }
    .bio {
        padding: 1px 1px 1px 1px;
    }
    .main-content {
        background-color: var(--primary-transparent-light-bg);
        color: var(--primary-color-dark);
        margin: 150px 15px 15px 15px;
        padding : 20px;
        text-align: center;
        border-radius: 12px;
        box-shadow: var(--primary-shadow);
    }
    .main-content2 {
        background-color: var(--primary-transparent-light-bg);
        color: var(--primary-color-dark);
        margin: 15px 15px 45px 15px;
        padding : 20px;
        text-align: center;
        border-radius: 12px;
        box-shadow: var(--primary-shadow);
    }
    .hobi-container {
        display: block;
    }
}