* {
    font-family: 'Quicksand', sans-serif;
}


html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
}

.main {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #392F5A;
    margin: 100px auto;
    color: white;
    width: 250px;
    text-align: center;
}